<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="shortcut icon" href="/public/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="root" data={{data}}>Loading...</div>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
